/* /src/pages/css/contact.css */

.contact-div {
  padding: 20px;
    box-shadow: 0px 0px 20px #ad56f0;
    background-image: url('../../assets/contactBg.jpg');
    background-size: cover;
  }

  #contact-title {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: #210b31;
    text-align: center;
  }

.contact-card {
  max-width: 600px;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contact-card form {
  display: grid;
  grid-gap: 10px;
}

.contact-card label {
  font-weight: bold;
}

.contact-card input,
.contact-card textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.contact-card input:focus,
.contact-card textarea:focus {
  border-color: #581c87;
}

.contact-card button {
  padding: 8px 16px;
  background-color: #581c87;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-card button:hover {
  background-color: #a636b8;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #581c87;
  transition: color 0.3s ease;
}

.contact-icons a:hover {
  color: #a636b8;
}
