/* /src/pages/css/menu.css */

.navbar {
  background-color: #581c87;
  box-shadow: 0px 0px 20px #1c032e;
  height: 12vh;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white; 
}

.menu-logo {
    width: 60px; 
    height: auto; 
}

.menu-logo {
    transition: transform 0.3s;
  }
  
.menu-logo:hover {
    transform: scale(1.1);
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #ffd166; 
}

/* Navbar toggle icon color */
.navbar-toggler-icon {
  background-color: #581c87; 
}

.navbar-dropdown {
  background-color: #581c87;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 0.25rem;
    background-color: #581c87; 
    padding: 10px;
  }

  .navbar-nav .nav-link {
    color: white; 
  }

  .navbar-nav .nav-link:hover {
    color: #ffd166; 
  }
} 

button.resume {
  background-color: #ea7430; /* Background color */
  border: none; /* Remove borders */
  color: white; /* Text color */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  display: inline-block; /* Inline-block display */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

button.resume:hover {
  background-color: #d08153; /* Darker background on hover */
  transform: scale(1.05); /* Scale effect on hover */
}

/* Specific styles for the anchor tag inside the button */
button.resume a {
  color: white; /* White text */
  text-decoration: none; /* Remove underline */
}

button.resume a:hover {
  color: white; /* Ensure white text on hover */
  text-decoration: none; /* Ensure no underline on hover */
}