/* /src/pages/css/skills.css */

.skills-div {
  padding: 4rem;
  box-shadow: 0px 0px 20px #ad56f0;
  background-image: url('../../assets/skillsBg.jpg');
  background-size: cover;
}

#skills-title {
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #581c87;
  text-align: center;
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a0649;
  border-radius: 10px;
  box-shadow: 0px 3px 20px rgba(13, 1, 18, 0.5);
  margin-bottom: 2rem;
  height: 35vh; 
  background: linear-gradient( transparent, #89a0d9);
  transition: transform 0.3s;
  position: relative;
  cursor: pointer; 
}

.skills-card:hover {
  transform: scale(1.05); 
}

.skills-card-header {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
}

#skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-card-img {
  width: 50px; 
  height: 50px; 
  margin: 5px;
  transition: transform 0.3s ease; 
}

.skills-card-img:hover {
  transform: scale(1.2);
}

.skills-card:hover::after {
  content: attr(data-name);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  font-size: 12px;
  text-align: center;
}

.list-unstyled {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-unstyled li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .card {
    height: auto; 
  }

  .card img {
    width: 40px; 
    height: 40px;
  }
}

@media (max-width: 576px) {
  .card img {
    width: 30px; 
    height: 30px;
  }
}
